$primary-color : red;

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin size($width, $height: 500px) {
    width: $width;
    height: $height;
}

.parent {
    @include flexCenter();
    & .a {
        @include flexCenter;
        @include size(100px,  200px);
        background-color: $primary-color;
    }
    h2 {
        color: aquamarine;
    }
    .chil {
        color: aqua;
    }
}


