
.text {
    text-align:center;
    display: block;
}

body {
    max-width: 800px;
    margin: 0 auto;
}
.container {
    width: 400px;
    height: 400px;
    background-color: #0000ff;
    position: absolute;
}
.child {
    background-color: aqua;
    height: 200px;
    width: 200px;
    position: relative;
    top: 400px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  
  .box {
    width: 200px;
    height: 200px;
    background-color: orange;
    transform: rotateX(45deg);
  }
  