body {
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; */
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background: #116d42;
}

.menu {
  position: relative;
  background-color: #fff;
}

.menu a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 10px 16px 12px;
}
.menu-item {
  display: inline-block;
}
.menu-item:hover .sub-menu {
  display: block;
}
.sub-menu {
  display: none;
  position: absolute;
  background-color: aquamarine;
  left: 0;
  right: 0;
  padding: 20px;
}